.container {
        width: 500px;
        clear: both;
    }
.container input {
        width: 100%;
        clear: both;
    }

table, tr {
   border: 1px solid black;
}

th {
    text-align: left;
}

table {
    width: 100%;
}
