
#calendarTable {
    border: 3px solid black;
}

/* Border each day */
.week td {
  border: 1px solid black;
  text-align: center;
}
/* Style the header */
table h1 {
  text-align: center;
  font-style: normal;
  font-family: sans-serif;
}
