/*
Joe Sirianni
CIS 371
 */


/*
Format text colors
*/
p, td {
  color: blue;
}

.imp {
  color: red;
}


/*
Default h3 background color
*/
h3 {
  background-color: grey;
}


/*
Default, center all h3 tags
*/
h3 {
  text-align: center;
}


/*
Table border
*/
table, th, td {
  border: 3px solid black;
}


/*
Font for CS and IS lists
*/
li {
  font-family: fantasy;
}


/*
Set max page width, prevent weird issues for 2560x1080 display
*/
body {
  max-width: 1280px;
 }

/*
Column formatting
*/
.col_1 {
  width: 30%;
  padding: 0.5em;
  display: inline-block;
  float: left;
  padding-top: 1em;
  }

.col_2 {
  width: 30%;
  padding: 1em;
  display: inline-block;
  float: left;
  }

.col_3 {
  padding: 1em;
  width: 30%;
  display: inline-block;
  float: left;
 }


/*
Format column header background color
*/
#courses h3 {
  background-color: green;
}
