

/* Style the header */
h1 {
  text-align: center;
}

/* Align nav and content divs */
.container {
    width: 90%;
    height: 90%;
    padding: 10px;
    min-width: 650px;
}
.nav {
    width: 15%;
    height: 80%;
    padding-right: 5%;
}
.content {
    padding-left: 20%;
    height: 80%;
    float: right;
}

/* Nav Styling */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* Output table styling */
table {
  background-color: #E6E6E6;
}
th {
  min-width: 110px;
  text-align: left;
}
