

/* Style the header */
h1 {
  text-align: center;
  max-width: 800px;
  background-color: cyan;

}

/* Align nav and content divs */
section {
  min-width: 800px;
  margin: 0 auto;
}
.nav {
    width: 120px;
    height: 80%;
    float: left;
}
.content {
    width: 600px;
    padding-left: 10%;
    height: 80%;
    margin-left: 50px;
}

/* Nav Styling */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* Output table styling */
table {
  background-color: #E6E6E6;
  margin-top: 10px;
}
th {
  min-width: 110px;
  text-align: left;
}
