table {
  background-color: #E6E6E6;
}

.container {
    width: 90%;
    height: 90%;
    margin: auto;
    padding: 10px;
}
.nav {
    width: 20%;
    height: 80%;
    float: left;
}
.content {
    margin-left: 60%;
    height: 80%;
}
